@page
@model CartModel

<div>
    <h1 class="text-center">Cart</h1>
    <table >
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>subtotal</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td>@line.Product.ProductName</td>
                <td>@line.Quantity</td>
                <td>@line.Product.Price</td>
                <td>@((line.Product.Price * line.Quantity).ToString("C2"))</td>
                <td>
                    <form method="post" asp-page-handler="Remove">
                        <input type="hidden" name="id" value="@line.Product.Id">
                        <button class="btn btn-danger" type="submit">
                            <i class="fa fa-trash"></i>
                            Remove
                        </button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">Total: </td>
            <td>@Model.Cart.ComputeTotalValue().ToString("C2")</td>
        </tr>
        </tfoot>
    </table>
    <div class="text-center">
        <div class="btn-group">
            <a class="btn btn-outline-primary" asp-controller="Order" asp-action="Checkout">Checkout</a>
            <a class="btn btn-primary" href="@Model?.ReturnUrl">Continue Shopping</a>
        </div>
    </div>
</div>